.row{
    text-align: center;
}

.formulaire{
    left:35%;
}
.form-label {
    font-size: 12px;
    color: #5e9bfc;
    margin: 0;
    display: block;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
}
.form-control {
    border-radius: 0;
    border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
    width: 50%;
    margin: 20px 240px 20px;
    height: 52px;
    border: 1px solid #605353c9;
}.form-group{
    letter-spacing: 6px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #5e9bfc;
}
.js-hide-label {
    opacity: 0;
}
.js-unhighlight-label {
    color: #999
}
.btn-start-order {
    background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
    border-color: #5e9bfc;
    color: #5e9bfc;
}
[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
    color: #878787;
}
[type="file"]::-webkit-file-upload-button {
    background: #ED1C1B;
    border: 2px solid #ED1C1B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
    background: #fff;
    border: 2px solid #535353;
    color: #000;
}
/*.container{
    margin-top:100px;
}*/
/* GENERAL STYLING OF PAGE — NOT APPLICABLE TO EXAMPLE */
/*body {
    padding: 20px;
}*/
